# Terraform
*.tfstate
*.tfstate.*
.terraform/
.crash
*.backup
.terraform.lock.hcl

# Ansible
*.retry
*.log
inventory/hosts  # optional if you'll template this per env
*.pem
*.ppk

# OS/Editor
.DS_Store
*.swp
.vscode/
.idea/

# SSH keys (NEVER commit!)
**/*.pem
**/*.ppk
